##### OSX #####
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

##### Windows #####
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Microsoft Office temp files
~$*

##### Linux #####
.*
!.gitconfig
!.gitignore
!.bash_aliases
!.bash_profile
!.ssh
!.vim
!.vimrc
*~

# KDE
.directory

##### Editor #####

# Emacs
*~

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp

.\#*

# vim
.*.sw[a-z]
*.un~
Session.vim

# TextMaite
*.tmproj
*.tmproject
tmtags

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
